@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
    font-family: "Poppins", sans-serif;
    transform: scale(1.04);
}

body {
    background-image: url("images/1677315588_bogatyr-club-p-fon-belo-goluboi-gradient-krasivii-fon-43.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgb(132, 184, 197); */
    /* background: linear-gradient(71deg, rgba(132, 184, 197, 1) 0%, rgba(58, 125, 142, 1) 100%); */
}

#content {
    margin-bottom: 20px;
}

.header {
    display: flex;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;
    padding-left: 10%;
    padding-top: 3%;
}

h1 {
    font-size: 40px;
    text-shadow: 3px 3px #000;
}
h1:before {
    content: "";
    font-size: 48px;
    display: block;
    text-shadow: 2px 2px #000;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
}

.worker {
    float: right;
    margin-right: 15%;
}

.info {
    letter-spacing: 2px;
    margin-top: 6%;
    font-size: 26px;
    display: block;
    margin-left: 12%;
    border: 2px solid #000;
    padding: 10px;
    width: fit-content;
    margin-bottom: 3%;
}
.hero {
    letter-spacing: 2px;
    font-size: 22px;
    display: block;
    margin-left: 12%;
    border: 2px solid #000;
    padding: 10px;
    width: fit-content;
}

#load-more-btn {
    margin-left: 15%;
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        padding-left: 5%;
        padding-top: 10%;
    }

    h1 {
        font-size: 24px;
    }

    .worker {
        float: none;
        margin: 0 auto;
    }

    .info,
    .hero {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding-left: 7%;
        padding-top: 5%;
    }

    h1 {
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding-left: 10%;
        padding-top: 3%;
    }

    h1 {
        font-size: 40px;
    }
}
