@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(71deg, rgba(132, 184, 197, 1) 0%, rgba(58, 125, 142, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

#content {
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;
    padding: 3% 0;
}

h1 {
    font-size: 40px;
    text-shadow: 3px 3px #000;
    margin: 0;
}

h1:before {
    content: "";
    font-size: 48px;
    display: block;
    text-shadow: 2px 2px #000;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
}

.worker {
    float: right;
    margin-right: 15%;
}

.info {
    letter-spacing: 2px;
    font-size: 26px;
    display: block;
    margin-top: 6%;
    margin-left: 12%;
    border: 2px solid #000;
    padding: 10px;
    width: fit-content;
    margin-bottom: 3%;
}

.hero {
    letter-spacing: 2px;
    font-size: 22px;
    display: block;
    margin-left: 12%;
    border: 2px solid #000;
    padding: 10px;
    width: fit-content;
}

#load-more-btn {
    margin-left: 15%;
}

/* Адаптивные стили */

@media (max-width: 767px) {
    .header {
        padding: 10% 0;
    }

    h1 {
        font-size: 40px;
    }

    .worker {
        float: none;
        margin-right: 0;
        margin-left: 5%;
        max-width: 100%;
        width: 90%;
    }

    .info,
    .hero {
        margin-top: 3%;
        margin-left: 5%;
        width: 90%;
    }

    #load-more-btn {
        margin-left: 5%;
    }
}