@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("images/back.jpg");
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;
    padding: 3% 0;
}

h1 {
    font-size: 40px;
    text-shadow: 3px 3px #000;
    margin: 0;
}

h1:before {
    content: "";
    font-size: 48px;
    display: block;
    text-shadow: 2px 2px #000;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
}

.worker {
    float: right;
    margin-right: 15%;
    margin-top: -3%;
}

.info {
    letter-spacing: 2px;
    font-size: 26px;
    display: block;
    margin-top: 6%;
    margin-left: 12%;
    border: 2px solid #000;
    padding: 10px;
    width: fit-content;
    margin-bottom: 3%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero {
    letter-spacing: 2px;
    font-size: 22px;
    display: block;
    margin-left: 12%;
    border: 2px solid #000;
    padding: 10px;
    width: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero:hover,
.info:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#load-more-btn {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#load-more-btn:hover {
    background-color: #0096b6;
}

#new-content {
    margin-top: 20%;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
}

.content-header {
    font-size: 34px;
    text-align: center;
    margin-bottom: 4%;
    letter-spacing: 2px;
}

figcaption {
    text-align: center;
    font-size: 22px;
    margin-top: 10%;
}

.telegram,
.whatsapp {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}

.contacts {
    display: flex;
    justify-content: space-around;
}

/* Адаптивность для маленьких экранов */
@media screen and (max-width: 768px) {
    #load-more-btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    #new-content {
        margin-top: 10%;
    }
}

/* Адаптивность для больших экранов */
@media screen and (min-width: 1200px) {
    #load-more-btn {
        font-size: 20px;
        padding: 14px 28px;
    }

    #new-content {
        margin-top: 30%;
    }
}

@media (max-width: 768px) {
    #load-more-btn {
        font-size: 16px;
        padding: 10px 20px;
    }
}
/* Адаптивные стили */

@media (max-width: 767px) {
    .header {
        padding: 10% 0;
    }

    h1 {
        font-size: 40px;
    }

    .worker {
        float: none;
        margin-right: 0;
        margin-left: 5%;
        max-width: 100%;
        width: 90%;
    }

    .info,
    .hero {
        margin-top: 3%;
        margin-left: 5%;
        width: 90%;
    }

    #load-more-btn {
        margin-left: 5%;
    }
}

.but {
    display: flex;
    margin: 3% 0 0 20%;
}
